/****** Fonts import ******/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

/****** Variables *******/

:root {
	--main-bg-color: #e9e9e9;
	--bg-color-light-orange: #f2b872;
	--bg-color-light-yellow: #ecd288;
	--bg-color-light-grey: #bfbebd;
	--font-color-black: #000;
	--font-color-white: #fff;
	--font-muli: 'Mulish', sans-serif;
	--fon†-monsterrat: 'Montserrat', sans-serif;
	--font-dancing: 'Dancing Script', cursive;
	--font-sacramento: 'Sacramento', cursive;
	--font-lato: 'Lato', sans-serif;
	--font-PT-sans: 'PT Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-color-light-orange);
}

.mainContainer {
	width: 100%;
}

/******* Top Navigation  *******/

.navContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	background-color: var(--bg-color-light-yellow);
}

.navMenu a {
	text-decoration: none;
	color: var(--font-color-black);
	font-family: var(--font-PT-sans);
	font-weight: 500;
	font-size: 1.1rem;
	list-style-type: none;
}

.navMenu ul li:hover {
	transform: translateY(-3px);
}

.navMenu ul {
	display: flex;
}

.navMenu ul li {
	padding: 1rem;
	transition: transform 0.1s linear;
}

.logoContainer h3 {
	font-family: var(--font-dancing);
	font-size: 1.8rem;
	text-decoration: none;
	color: var(--font-color-black);
	margin-left: 1rem;
}

.logoContainer a {
	text-decoration: none;
	list-style-type: none;
}

/******* Image container frontpage ********/

.imageContainer {
	display: flex;
	flex: wrap;
}

.imageLeft {
	height: 100%;
	width: 50%;
	position: relative;
}

.imageLeft img {
	width: 100%;
	height: 100%;
}

.imageRight {
	height: 100%;
	width: 50%;
}

.imageUpper {
	width: 100%;
	position: relative;
}

.imageBottom {
	width: 100%;
	position: relative;
	margin-top: -2px;
}

.imageUpper img,
.imageBottom img {
	width: 100%;
	height: 50%;
}

/********* Overlay effect for boxes on frontpage ********/
.overlay1,
.overlay2,
.overlay3 {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.4s ease;
}

.imgText,
.imgText2,
.imgText3 {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: var(--font-color-white);
	font-family: var(--font-dancing);
	font-size: 1.8rem;
	opacity: 0;
	transition: 0.4s ease;
	z-index: 10;
}

.imageLeft:hover .imgText,
.imageLeft:hover .overlay1,
.imageUpper:hover .imgText2,
.imageUpper:hover .overlay2,
.imageBottom:hover .imgText3,
.imageBottom:hover .overlay3 {
	opacity: 1;
}

/****** intro section ******/

.header-container {
	position: relative;
	width: 100%;
	height: 35rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.figure {
	width: 50%;
	position: absolute;
	right: 2%;
}

.intro-selfie {
	width: 50%;
	height: 20rem;
	grid-column: 2;
	z-index: 1;
	padding-top: 3rem;
	padding-left: 2rem;
}

.intro-selfie img {
	width: 100%;
	border-radius: 50% 50%;
}

.intro-text {
	padding: 4rem;
}

.intro-text h2 {
	font-family: var(--font-dancing);
	font-size: 3rem;
}
.intro-text p {
	max-width: 40rem;
	font-family: var(--font-PT-sans);
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.contact-me-button {
	background-color: var(--bg-color-light-yellow);
	border: none;
	color: #000;
	text-align: center;
	font-family: var(--font-dancing);
	font-size: 1.8rem;
	padding: 0.5rem;
	width: 10rem;
	transition: all 0.4s;
	cursor: pointer;
	margin-top: 2rem;
}
.contact-me-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.4s;
}
.contact-me-button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.contact-me-button:hover span {
	padding-right: 25px;
}
.contact-me-button:hover span:after {
	opacity: 1;
	right: 0;
}

/****** Footer  ******/

.footerContainer {
	background-color: var(--bg-color-light-yellow);
	padding: 1rem;
}

.links-subpages {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: auto;
	list-style-type: none;
	text-decoration: none;
}

.footerContainer a {
	text-decoration: none;
	color: var(--font-color-black);
	list-style-type: none;
	font-family: var(--font-PT-sans);
	font-weight: 1.1rem;
}

/****** Responsive styling ******/

@media (min-width: 1300px) {
	.header-container {
		height: 40rem;
	}

	.figure {
		width: 40%;
		position: absolute;
	}

	.intro-selfie {
		width: 40%;
		height: 15rem;
		grid-column: 2;
		z-index: 1;
		padding-top: 3rem;
		padding-left: 8rem;
	}
}
