/****** Fonts import ******/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

/****** Variables *******/

:root {
	--main-bg-color: #e9e9e9;
	--bg-color-light-orange: #f2b872;
	--bg-color-light-yellow: #ecd288;
	--bg-color-light-grey: #bfbebd;
	--font-color-black: #000;
	--font-color-white: #fff;
	--font-muli: 'Mulish', sans-serif;
	--fon†-monsterrat: 'Montserrat', sans-serif;
	--font-dancing: 'Dancing Script', cursive;
	--font-sacramento: 'Sacramento', cursive;
	--font-lato: 'Lato', sans-serif;
	--font-PT-sans: 'PT Sans', sans-serif;
	--font-anton: ' Anton ', sans-serif;
	--font-fjalla: 'Fjalla One', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--bg-color-light-orange);
}

.mainContainer {
	width: 100%;
}

/******* Top Navigation  *******/

.navContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	align-items: center;
	background-color: #fff;
}

.navMenu a {
	text-decoration: none;
	color: var(--font-color-black);
	font-family: var(--font-PT-sans);
	font-weight: 500;
	font-size: 1.1rem;
	list-style-type: none;
}

.navMenu ul li:hover {
	transform: translateY(-3px);
}

.navMenu ul {
	display: flex;
}

.navMenu ul li {
	padding: 1.4rem;
	transition: transform 0.1s linear;
}

.logoContainer h3 {
	font-family: var(--font-fjalla);
	font-size: 1.8rem;
	text-decoration: none;
	color: var(--font-color-black);
	margin-left: 1rem;
}

.logoContainer a {
	text-decoration: none;
	list-style-type: none;
}

@media (max-width: 420px) {
	.logoContainer h3 {
		margin: 0;
	}
	.navMenu ul li {
		padding: 1.5rem 0.5rem;
	}

	.navContainer {
		padding: 0 0.5rem;
	}
}

/********* Overlay effect for boxes on frontpage and portfolio section ********/
.overlay1,
.overlay2,
.overlay3 {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 99.6%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.4s ease;
}

.imgText,
.imgText2,
.imgText3 {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: var(--font-color-white);
	font-family: var(--font-fjalla);
	font-size: 1.8rem;
	opacity: 0;
	transition: 0.4s ease;
	z-index: 10;
}

.imageLeft:hover .imgText,
.imageLeft:hover .overlay1,
.imageUpper:hover .imgText2,
.imageUpper:hover .overlay2,
.imageBottom:hover .imgText3,
.imageBottom:hover .overlay3 {
	opacity: 1;
}

/***** Overlay img *****/

.overlay-portfolio {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: 0.4s ease;
}

.imgText-portfolio {
	position: absolute;
	bottom: 20px;
	right: 20px;
	color: var(--font-color-white);
	font-family: var(--font-fjalla);
	font-size: 1.8rem;
	opacity: 0;
	transition: 0.4s ease;
	z-index: 10;
}

.project-images:hover .imgText-portfolio,
.project-images:hover .overlay-portfolio {
	opacity: 1;
}

/****** intro section ******/

.header-container {
	width: 100%;
}

.intro-text {
	padding: 4rem;
}

.intro-text h2 {
	font-family: var(--font-fjalla);
	font-size: 3.5rem;
	margin-bottom: 0.4rem;
}
.intro-text p {
	max-width: 40rem;
	font-family: var(--font-PT-sans);
	font-size: 1.1rem;
	line-height: 1.5rem;
}

.portfolio {
	width: 18rem;
	margin-left: 4rem;
}
.contact {
	width: 12rem;
}

.contact-me-button {
	background-color: var(--bg-color-light-yellow);
	border: none;
	color: #000;
	text-align: center;
	font-family: var(--font-fjalla);
	font-size: 1.8rem;
	padding: 0.5rem;
	/* width: 10rem; */
	transition: all 0.4s;
	cursor: pointer;
	margin-top: 2rem;
}
.contact-me-button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.4s;
}
.contact-me-button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
}
.contact-me-button:hover span {
	padding-right: 25px;
}
.contact-me-button:hover span:after {
	opacity: 1;
	right: 0;
}

/****** Footer  ******/

.footerContainer {
	background-color: #fff;
	padding: 1rem;
}

.links-subpages {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: auto;
	list-style-type: none;
	text-decoration: none;
}

.footerContainer a {
	text-decoration: none;
	color: var(--font-color-black);
	list-style-type: none;
	font-family: var(--font-PT-sans);
	font-weight: 1.1rem;
}

.socialMediaContainer {
	width: 15%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 1rem auto;
	padding-top: 1rem;
	border-top: 1px solid black;
}

.SocialMediaIcons {
	text-decoration: none;
	list-style-type: none;
}
.SocialMediaIcons img {
	width: 2rem;
}

@media (max-width: 750px) {
	.links-subpages {
		width: 30%;
	}
	.socialMediaContainer {
		width: 30%;
	}
}

@media (max-width: 420px) {
	.links-subpages {
		width: 40%;
	}
	.socialMediaContainer {
		width: 40%;
	}
}
/****** Project section ******/

.projectMainContainer {
	background-color: #fff;
}

.project-container {
	width: 100vw;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}

@media (max-width: 950px) {
	.project-container {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}
}
@media (max-width: 420px) {
	.project-container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}
}

.project-images {
	height: 25rem;
	position: relative;
}

.project-image {
	width: 100%;
	height: 25rem;
	object-fit: cover;
}

.project-intro h2 {
	font-family: var(--font-fjalla);
	font-size: 3.5rem;
	margin: 2rem 0rem 1rem 1rem;
}

.project-intro p {
	margin: 0rem 1rem 1rem 1rem;
	line-height: 1.4rem;
	font-family: var(--font-PT-sans);
}

.social-media-project {
	width: 15%;
	display: flex;
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.social-media-icons-project {
	text-decoration: none;
	list-style-type: none;
	margin-right: 1rem;
}
.social-media-icons-project img {
	width: 2rem;
}
/***** Subpages *****/

.heading-subpage {
	font-family: var(--font-fjalla);
	font-size: 3.5rem;
	margin: 2rem 0rem 1rem 1rem;
}

.paragraph-subpage {
	font-family: var(--font-PT-sans);
	width: 40%;
	margin: 0rem 1rem 1rem 1rem;
}

/****** Contact page ******/
.contactContainer {
	background-color: #fff;
	padding-bottom: 3rem;
}

.contactHeading {
	font-family: var(--font-fjalla);
	font-size: 3.5rem;
	margin: 1rem 0rem 1rem 1rem;
}

.contactP {
	font-family: var(--font-PT-sans);
	font-size: 1.2rem;
	width: 40%;
	line-height: 2rem;
	margin: 1rem 1rem 1rem 1rem;
}

.contactText {
	padding: 4rem;
}

@media (max-width: 420px) {
	.contactText {
		padding: 2rem;
	}
}

/***** About me  *****/

.aboutContainer {
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 3rem;
}

.selfieImage {
	width: 20rem;
}

.selfieContainer {
	height: 70%;
}

.aboutHeader {
	font-family: var(--font-fjalla);
	font-size: 3.5rem;
	margin: 2rem 0rem 1rem 1rem;
}

.aboutP {
	font-family: var(--font-PT-sans);
	font-size: 1.2rem;
	width: 80%;
	line-height: 1.5rem;
	margin: 1rem 1rem 1rem 1rem;
}

.skills {
	font-size: 1rem;

	font-style: italic;
}

@media (max-width: 750px) {
	.aboutContainer {
		display: inline-block;
	}
}

@media (max-width: 420px) {
	.aboutP {
		width: 90%;
	}
}
